
.topbar {
    background-color: rgb(18, 94, 124);
    color: white;
    height: 70px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* These three rules will always center items */
    display: flex;
    justify-content: space-evenly;
  }

  a {
      color: white;
      text-decoration: none;
  }

  #box_name {
    height: 20px;
    width: 150px;
    background-color: grey;
    text-align: center;
    position: relative;
    top: 0px;
    padding: 25px;
    font-size: 25px;
  }

  #navbar  {
      color: white;
      height: 70px;
      padding: 30px;
  }

  .main {
      height: 960px;
      width: 70%;
      position: absolute;

      top: 100px;
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
  }


